html {
    background-color: #666666;
    user-select: none;
}

.center {
    background-color: #000000;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tr {
    position: fixed;
    right: 0;
    top: 0;
}